table {
  *border-collapse: collapse; /* IE7 and lower */
  border-spacing: 0;
}
th:first-child {
  border-radius: 6px 0 0 0;
}

th:last-child {
  border-radius: 0 6px 0 0;
}

th:only-child{
  border-radius: 6px 6px 0 0;
}